
<div class="search-container">
    <form #form="ngForm" [formGroup]="searchForm" >
        <mat-form-field class="form-field">
            <mat-label>Search country</mat-label>
            <input
            matInput
            #search
            (keyup)="this.searchTerm$.next(search.value);"
            formControlName="searchField"
            />
        </mat-form-field>
        <small class="no-university-found" *ngIf="!(results$ | async).length && search.value !== ''">
            No universities found for this search
        </small>
    </form>
      
    <div *ngIf="isLoading$ | async" class="spinner">
        <mat-spinner></mat-spinner>
    </div>
    <app-search-results
      *ngIf="!(isLoading$ | async)"
      [results]="currPageResults"
    ></app-search-results>

    <mat-paginator
        #paginator
        (page)="onPageChange($event)"
        [length]="resultsLength"
        [pageSize]="10"
        showFirstLastButtons
    >
</mat-paginator>
</div>

  